<div class="row">
    <div class="col-sm-12 col-lg-6 welcome">
        <h1 class="fw-bold welcome-title">¿Que quieres buscar?</h1>
        <br>
        <div class="row">
            <p>Encuentra la información que deseas consultar...</p>
            <div class="input-group mb-3">
                <div class="input-group">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Todos los servicios </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Certificado</a></li>
                      <li><a class="dropdown-item" href="#">Crear cuenta</a></li>
                      <li><a class="dropdown-item" href="#">Top trámites</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons" placeholder="Que servicio quieres consultar">
                    <button type="button" class="btn btn-primary">
                        <i class='bx bx-search'></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 50px;"> 
            <div class="row" style="background-color: #fff; padding-top: 15px; padding-bottom: 20px; padding-left: 15px;">
                <div class="col-lg-4 col-sm-12"  style="margin-top: 20px;">
                    <h6 class="home-subtitle"><b>Certificado</b></h6>
                    <p>Conoce los beneficios que tenemos para ti al registrarte</p>
                    <button type="button" class="btn btn-outline-success">+ beneficios</button>
                </div>
                <div class="col-lg-4 col-sm-12" style="margin-top: 20px;">
                    <h6 class="home-subtitle"><b>Crear cuenta</b></h6>
                    <p>Conoce los beneficios que tenemos para ti al registrarte</p>
                    <button type="button" class="btn btn-outline-success">Ver todo</button>
                </div>
                <div class="col-lg-4 col-sm-12" style="margin-top: 20px;">
                    <h6 class="home-subtitle"><b>Top trámites</b></h6>
                    <p>Conoce los trámites mas solicitados</p><br>
                    <button type="button" class="btn btn-outline-success">Ver todo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-lg-5 col-sm-12">
        <div class="container"> 
            <div class="row">
                <div class="col-12">

                    <figure>
                        <p><b>SERVICIOS QUIPUX</b></p>
                    </figure>
                </div>
            </div>
            <div class="row" style="background-color: #fff; padding-bottom: 25px; padding-top: 15px; padding-left: 15px;">
                <h4 class="home-subtitle"><b>Trámites en tu mano</b></h4>
                <p>Ahora podras hacer todos tus trámites desde la comodidad de tu casa desde cualquier dispositivo computadora, tablet o móvil</p>
                <div class="col-1">
                    <¼>
                </div>
                <div class="progress" style="width: 55%; height: 0.5rem; margin-left: 20px; margin-top: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div style="text-align: center; margin-top: 20px;">
        <img style="width: 140px; height: auto;" src="./assets/Img/logo.png" alt="">
    </div>
</footer>