<div class="row">
    <div class="col-lg-5 col-sm-12" style="background-color: #fff; padding-top: 30px;">
        <h6><b>INFORMACIÓN DEL CONTACTO</b></h6>
        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Dirección</b></label>
            <label style="text-align: center;"><b>Carrera 52 # 91-66</b></label>
            <label style="text-align: center;"><b>Medellin - Colombia</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Correo electrónico</b></label>
            <label style="text-align: center;"><b>usuarioapellido@hotmail.com</b></label>
        </div>

        <div class="form-group d-grid">
            <label style="text-align: center;"><b>Sitio web</b></label>
            <a href="https://google.com" target="_blank" style="text-align: center;"><b>www.usuarioapellido.com</b></a>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Red social</b></label>
            <a href="https://instagram.com" target="_blank" style="text-align: center;">
                <b>www.instagram.com/usuarioapellido</b>
                <i class='bx bxl-instagram'></i>
            </a>
            <a href="https://linkedin.com" target="_blank" style="text-align: center;">
                <b>www.linkedin.com/usuarioapellido</b>
                <i class='bx bxl-linkedin-square'></i>
            </a>

            <div class="form-group d-grid" style="margin-top: 30px;">
                <label style="text-align: center;"><b>Dirección de correspondencia de correo</b></label>
                <label style="text-align: center;"><b>Carrera 52 # 91-66</b></label>
                <label style="text-align: center;"><b>Envigado Colombia</b></label>
            </div>

            <div class="form-group d-grid" style="margin-top: 30px;">
                <label style="text-align: center;"><b>Número de teléfonos</b></label>
                <label style="text-align: center;"><b>Fijo</b></label>
                <label style="text-align: center;"><b>+57 (4) 313-70-00</b></label>
                <label style="text-align: center;"><b>Celular</b></label>
                <label style="text-align: center;"><b>+57 (4) 313-44-77</b></label>
            </div>
        </div>
    </div>

    <div class="col-lg-7 col-sm-12">
        <div class="container">
            <div class="row" style="background-color: #fff;">
                <div class="col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                        style="width: 60%; height: auto; margin: auto;">
                        <div class="carousel-indicators" style="margin: 22px;">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"
                                style="background-color: gray;"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2" style="background-color: gray;"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3" style="background-color: gray;"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/Img/no-photo.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/Img/no-photo.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/Img/no-photo.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                style="background-color: gray;"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: gray;"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="background-color: #fff;">
                <div class="col-lg-3 col-sm-12 article" *ngFor="let article of articleList">
                    <img [src]="article.imagen" class="rounded-circle" alt="...">
                    <p class="article-title"> {{ article.titulo }} </p>
                    <p class="article-desc"> {{ article.descripcion}} </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div style="text-align: center; margin-top: 20px;">
        <img style="width: 140px; height: auto;" src="./assets/Img/logo.png" alt="">
    </div>
</footer>