<div class="row">
    <div class="col-lg-4 col-sm-12" style="background-color: #fff; padding-top: 30px;">
        <h6><b>INFORMACIÓN DE LA EMPRESA</b></h6>
        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Nombre</b></label>
            <label style="text-align: center;"><b>Quipux S.A.S</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Fecha de creación</b></label>
            <label style="text-align: center;"><b>1995/05/06</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Dirección</b></label>
            <label style="text-align: center;"><b>Carrera 43A No. 3 sur-130</b></label>
            <label style="text-align: center;"><b>Ed. Milla de oro</b></label>
            <label style="text-align: center;"><b>Distrito de negocios Torre 1</b></label>
            <label style="text-align: center;"><b>Piso 12</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 15px;">
            <label style="text-align: center;"><b>Medellin - Colombia</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Número de teléfonos</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 15px;">
            <label style="text-align: center;"><b>Fijo</b></label>
            <label style="text-align: center;"><b>+57 (4) 313-70-00</b></label>
            <label style="text-align: center;"><b>Fax</b></label>
            <label style="text-align: center;"><b>+57 (4) 313-44-77</b></label>
        </div>

        <div class="form-group d-grid" style="margin-top: 30px;">
            <label style="text-align: center;"><b>Sitio web</b></label>
            <a href="https://www.quipux.com/web" target="_blank" style="text-align: center;">www.quipux.como/site</a>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="col-lg-7 col-sm-12" style="background-color: #fff; padding-top: 30px; border-right: 1px;">
        <h6><b>INFORMACIÓN DEL CONTACTO</b></h6>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group d-grid" style="margin-top: 50px;">
                    <label style="text-align: center;"><b>Dirección</b></label>
                    <label style="text-align: center;"><b>Carrera 52 # 91-66</b></label>
                    <label style="text-align: center;"><b>Medellin - Colombia</b></label>
                </div>

                <div class="form-group d-grid" style="margin-top: 50px;">
                    <label style="text-align: center;"><b>Correo electrónico</b></label>
                    <label style="text-align: center;"><b>usuarioapellido@hotmail.com</b></label>
                </div>

                <div class="form-group d-grid" style="margin-top: 50px;">
                    <label style="text-align: center;"><b>Sitio web</b></label>
                    <label style="text-align: center;"><b>www.usuarioapellido.com</b></label>
                </div>

                <div class="form-group d-grid" style="margin-top: 50px;">
                    <label style="text-align: center;"><b>Red social</b></label>
                    <label style="text-align: center;">
                        <b>www.instagram.com/usuarioapellido</b>
                        <i class='bx bxl-instagram'></i>
                    </label>
                    <label style="text-align: center;">
                        <b>www.linkedin.com/usuarioapellido</b>
                        <i class='bx bxl-linkedin-square'></i>
                    </label>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12" style="margin-top: 50px; border-left: 1px solid gray;">
                <div class="form-group d-grid" >
                    <label style="text-align: center;"><b>Dirección de correspondencia de correo</b></label>
                    <label style="text-align: center;"><b>Carrera 52 # 91-66</b></label>
                    <label style="text-align: center;"><b>Envigado - Colombia</b></label>
                </div>
        
                <div class="form-group d-grid" style="margin-top: 50px;">
                    <label style="text-align: center;"><b>Número de telefonos</b></label>
                    <label style="text-align: center;"><b>Fijo</b></label>
                    <label style="text-align: center;"><b>+57 (4) 313-70-00</b></label>
                    <label style="text-align: center;"><b>Celular</b></label>
                    <label style="text-align: center;"><b>+57 (4) 313-44-77</b></label>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div style="text-align: center; margin-top: 20px;">
        <img style="width: 140px; height: auto;" src="./assets/Img/logo.png" alt="">
    </div>
</footer>