
/* You can add global styles to this file, and also import other style files */
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #252527;
    --hover-color: #161818;
    --first-color-light: #ffffff;
    --white-color: #ffffff;
    --active-color: #89c278;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --background-color: #eef2f7;
    --sub-title-color: rgb(6, 87, 186);
}

*,
 ::before,
 ::after {
    box-sizing: border-box
}

body {
    background-color: var(--background-color );
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
    background-color: var(--white-color);
}

.header_toggle {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    float: right;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link,
.nav_link_dropdown {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .6rem 0 .5rem 1.5rem;
    font-size: 12px;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.8rem;
    transition: .3s
}

.nav_link_dropdown {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.8rem;
    transition: .3s
}

.nav_link_dropdown > span > i { 
    text-align: right;
}

.nav_link_dropdown_container {
    display: none;
    padding-left: 9px;
    cursor: pointer;
    font-size: 1.25rem;
}

.nav_link:hover {
    color: var(--active-color);
    background-color: var(--hover-color);
}

.nav_link_dropdown:hover {
    color: var(--active-color);
    background-color: var(--hover-color);
    cursor: pointer;
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--active-color);
    background-color: var(--hover-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.home-subtitle {
    color: var(--sub-title-color);
}

.img-home {
    background-color: var(--background-color);
}

.img-home-caption::before {
    content: "SERVICIOS QUIPUX";
    position: absolute;
    bottom: 10px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: var(--sub-title-color);
    font-size: 2em;
    background: #ffffff;
}

figure {
    background: url(./assets/Img/resource-1.png);
    position: relative;
    height: 308px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

figure p {
    width: 100%;
    color: var(--sub-title-color);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 2rem;
}

@media screen and (min-width: 100px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show {
        width: calc(var(--nav-width) + 180px)
    }
}